<!DOCTYPE html>
<html>
<head>
<title>Business Essay Wesbite - Conclusion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>

body {
  font-family: Oldtown, sans-serif;
  background-color: silver;
  border-radius: 5px;
}

h1,h2,h3,h4,h5 {
  border-radius: 5px;
  margin: auto;
  }

header {
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  border-radius: 5px;
  margin: auto;
  
}

div {
  border-radius: 5px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.limit{
    width:50px;
    word-wrap: break-word;
}
</style>

</head>
<body>


<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <!-- Navbar -->
  <div style=" background-color: rgb(189, 140, 49);"class="w3-bar w3-border w3-wide w3-padding w3-card">
    <a href="/homepage" class="w3-bar-item w3-button"><b>Business Essay Website</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/homepage" class="w3-bar-item w3-button">Home</a>
      <a href="/point1" class="w3-bar-item w3-button">Point 1</a>
      <a href="/point2" class="w3-bar-item w3-button">Point 2</a>
      <a href="/point3" class="w3-bar-item w3-button">Point 3</a>
      <a href="/conclusion" class="w3-bar-item w3-button">Conclusion</a>
      </div>
<div>
  <h1 style="text-align: center; font-size: 25px;;"><b>Charles Clinton Spaulding - The Father of Black Business</b></h1> </div>
  <p>Welcome to my blog! -  <span>Taariq Fadhill</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div style="border-style: solid; border-width: medium; border-color: white;"class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3 style="border-style: hidden; border-left: 6px solid rgb(189, 140, 49); background-color: rgba(189, 140, 49, 0.575);"><b>Conclusion</b></h3>
    </div>

    <div class="w3-container">
      <p>To conclude, Charles Clinton Spaulding was a man who stopped at nothing to reach his level of success and once at the top, encouraged and nurtured the next generation of black business to flourish with his teachings. As an adept business thinker, Spaulding’s words will continue to be a point of reference for generations to come; for following his rules and ideals means to one day, be as successful as ‘Mr. Negro Business’ [18] himself.</p>
       <p> Through this analysis of Spaulding’s work and achievements, I can safely say that his dedication to the elevation of the African American business environment was successful and immensely long-lasting. While his legacy may not be as eternal as his ‘father of African American management’ [3] title may suggest, Spaulding’s teachings propelled Durham, North Carolina, to house the ‘black Wall Street’ [1] and was a feat that has rooted Spaulding as a business mastermind. His thought pieces will remain a vital part of the development of future black entrepreneurs both as a resource and an ideology to live by for decades to come.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        <h3 style="border-style: hidden; border-left: 6px solid rgb(189, 140, 49); background-color: rgba(189, 140, 49, 0.575);"><b>REFERENCES</b></h3>
      </div>
  
      <div style=" width: auto; word-wrap: break-word;"class="w3-container">
        <ul>
          <li> [1] - YouTube. (2020). Black Excellist: Charles Spaulding the Business Man, Philanthropist, Activist. Retrieved April 23, 2023, from https://www.youtube.com/watch?v=Q6YjlhHc5_8. </li>
          <li> [2] - Spaulding, C. C. (1927). The administration of big business. The Pittsburgh Courier, 20, 8.</li>
          <li> [3] - Prieto, L. C., & Phipps, S. T. (2016). Re-discovering Charles Clinton Spaulding’s “The Administration of Big Business”: Insight into early 20th century African-American management thought. Journal of Management History, 22(1), 73-90.</li>
          <li> [4] - Spaulding, C. C. (1933). Is the Negro meeting the test in business?. The Journal of Negro History, 18(1), 66-70.</li>
          <li> [5] - Brewer, W. M. (1952). CHARLES CLINTON SPAULDING. Negro History Bulletin, 16(3), 67.</li>
          <li> [6] - Mildenberg, D. (1999, December 24). Charles Clinton (C.C.) Spaulding 1874-1952. Triangle Business Journal [Raleigh, NC], 15(16), 34. https://link-gale-com.uoelibrary.idm.oclc.org/apps/doc/A59121935/ITOF?u=exeter&sid=bookmark-ITOF&xid=f44c8030</li>
          <li> [7] - Stocker, E. (2013). Spaulding, Charles Clinton. NCpedia. Retrieved April 23, 2023, from https://www.ncpedia.org/biography/spaulding-charles-clinton-0 </li>
          <li> [8] - Blog, H. (2022). A history of Black-owned businesses in the US. Retrieved April 24, 2023, from https://www.hiscox.com/blog/history-black-owned-businesses-us</li>
          <li> [9] - National Archives and Records Administration. (2022, January 28). The emancipation proclamation. National Archives and Records Administration. Retrieved April 24, 2023, from https://www.archives.gov/exhibits/featured-documents/emancipation-proclamation</li>
          <li> [10] - Watson, E. (2020, February 6). Robert Reed Church, sr. (1839-1912) •. •. Retrieved April 24, 2023, from https://www.blackpast.org/african-american-history/robert-reed-church-sr-1839-1912/</li>
          <li> [11] - Lauterbach, P. (2015, April 4). A real-life Lucious Lyon: The former slave who built a Beale Street "empire" and transformed Memphis. Salon. Retrieved April 24, 2023, from https://www.salon.com/2015/04/04/a_real_life_lucious_lyon_the_former_slave_who_built_a_beale_street_empire_and_transformed_memphis/</li>
          <li> [12] - ROBERT R. CHURCH MILLIONAIRE OF MEMPHIS IS DEAD: DECEASED WAS 74 YEARS OLD. OWNED LARGE AMOUNT OF VALUABLE REAL ESTATE HAD $6,000 MONTHLY INCOME. (1912, Sep 20). The Pittsburgh Courier (1911-1950) https://uoelibrary.idm.oclc.org/login?url=https://www.proquest.com/historical-newspapers/robert-r-church-millionaire-memphis-is-dead/docview/201815003/se-2</li>
          <li> [13] - Brewer, W. M. (1952). CHARLES CLINTON SPAULDING. Negro History Bulletin, 16(3), 67. https://uoelibrary.idm.oclc.org/login?url=https://www.proquest.com/scholarly-journals/charles-clinton-spaulding/docview/1296782036/se-2</li>
          <li> [14] - Woodson, C. (1937). Excerpt, the Negro History Bulletin, vol. 1, no. 1 - Woodson, Carter Godwin (1875-1950), Editor - Google Arts &amp; Culture. Google. Retrieved April 26, 2023, from https://artsandculture.google.com/asset/excerpt-the-negro-history-bulletin-vol-1-no-1-woodson-carter-godwin-1875-1950-editor/iQHdQEFtTtsLiQ?hl=en</li>
          <li> [15] - Walker, J. E. (2009). The history of black business in America: Capitalism, race, entrepreneurship (Vol. 1). UNC Press Books.</li>
          <li> [16] - Weller, F. (2020, February 20). Black history month spotlight: C.C. Spaulding, a man from Columbus County who ran the richest black-owned company in America. https://www.wect.com. Retrieved April 27, 2023, from https://www.wect.com/2020/02/20/black-history-month-cc-spaulding-man-columbus-county-who-ran-richest-black-owned-company-america/#:~:text=he%20should%20be.-,C.C.,pursue%20big%20dreams%20in%20Durham.</li>
          <li> [17] - Britannica, T. Editors of Encyclopaedia (2022, July 28). Charles Clinton Spaulding. Encyclopedia Britannica. https://www.britannica.com/biography/Charles-Clinton-Spaulding</li>
          <li> [18] - Charles Clinton Spaulding (1874-1952). North Carolina History Project. (2016, March 16). Retrieved April 28, 2023, from https://northcarolinahistory.org/encyclopedia/charles-clinton-spaulding-1874-1952/#:~:text=During%20World%20War%20II%2C%20Spaulding,Mutual's%20funds%20in%20the%20bonds.</li>
          <li></li>

        </ul>

        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
          </div>
        </div>
      </div>
    </div>
  <hr>

<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div style="border-style: solid; border-width: medium; border-color: white;"class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
      <h4 style="border-style: hidden; border-left: 6px solid rgb(189, 140, 49); background-color: rgba(189, 140, 49, 0.575);"><b>About me!</b></h4>
      <p>Disclaimer: A lot of the buttons throughout this site are not functional as this is mainly being used as a different form of media to submit my essay in. </p>
      <p>  Hyperlinks in the navbar are all functional, however buttons such as 'read more' will not be functional; they are merely there for extra detail!</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <span class="w3-large">Madame C.J. Walker</span><br>
        <span>1867 - 1919</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Robert Reed Church</span><br>
        <span>1839 - 1912</span>
      </li> 
      <li class="w3-padding-16">
        <span class="w3-large">Annie Malone Turnbo</span><br>
        <span>1869 - 1957</span>
      </li> 
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
      <p><span class="w3-tag w3-black w3-margin-bottom">Business</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">America</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Black History</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Black Business</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Entrepreneurship</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Charles</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Charles-Clinton-Spaulding</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">African-American-History</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Millionaires</span>
      </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <a <button href="/point3" class="w3-button w3-black w3-padding-large w3-margin-bottom">Previous</button></a>
  <a <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Next »</button> </a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
